/* since nested groups are not supported we have to use
     regular css for the nested dropdowns
  */
@media screen and (min-width: 1024px) {
  .nav-primary ul.flex > li:hover > ul {
    right: 0;
    top: 100%;
  }

  .nav-primary li > ul {
    transform: translateY(100%) scale(0)
  }

  .nav-primary li:hover > ul {
    transform: scale(1)
  }

  .nav-primary li > button svg {
    transform: rotate(-90deg)
  }

  .nav-primary li:hover > button svg {
    transform: rotate(-270deg)
  }

  /* Below styles fake what can be achieved with the tailwind config
     you need to add the group-hover variant to scale and define your custom
     min width style.
     See https://codesandbox.io/s/tailwindcss-multilevel-dropdown-y91j7?file=/index.html
     for implementation with config file
  */
  .nav-primary .group:hover .group-hover\:scale-100 {
    transform: scale(1)
  }

  .nav-primary .group:hover .group-hover\:-rotate-180 {
    transform: rotate(180deg)
  }

  .scale-0 {
    transform: scale(0)
  }

  .min-w-32 {
    min-width: 8rem
  }
}
